
.menu{
	text-align: center;
	margin:0px auto;
	vertical-align: middle;
}
div{
	text-align: center;
	margin:0px auto;
}
.me {
 position: absolute;
 left: 183px;
 top: 655px;
}
h2.target1{
	position: absolute;
 left: 200px;
 
 
}
.violin{ 
	
 float: left;
 margin: 500px 200px;
}  
.guitar{ 
	
 float: left;
 margin: 495px 200px;
}  
