
.menu{
	text-align: center;
	margin:0px auto;
	vertical-align: middle;
}
div{
	text-align: center;
	margin:0px auto;
}
.me {
 position: absolute;
 left: 183px;
 top: 55px;
}
.school {
 position: absolute;
 float: top;
 left: 300px;
 top: 600px;
 
}
h2.target1{
	position: absolute;
 left: 200px;
 
 
}
h2.target2{
	position: absolute;
 left: 220px;
  top: 650px;
}
p.target{
	position: absolute;
 left: 250px;
 top: 900px;
  }
p.target1{
		position: absolute;
 left: 330px;
}
.violin{ 
	
 float: left;
 margin: 200px 200px;
}  
.guitar{ 
	
 float: left;
 margin: 195px 200px;
}  
h2.target2{
	position: absolute;
 left: 220px;
  top: 150px;
}
h2.target3{
	position: absolute;
 left: 190px;
  top: 1620px;
}
ul.t1{
position: absolute;
 left: 0px;
top: 1700px;
font-family: DFKai-sb;
	}
p.t2{
	position: absolute;
 left: 300px;


}
p.t3{
	position: absolute;
 left: 300px;
  
}
h2.target4{
	position: absolute;
 left: 200px;
  top: -500px;
}
.sports{ 
 float: left;
 margin: -30px 200px;
}  
.guitar2{ 
 float: left;
 margin: -30px 100px;
}  
h2.target5{
	position: absolute;
 left: 180px;
  top: 2500px;
}
ul.t2{
position: absolute;
 left: 350px;
top: 2900px;
font-family: DFKai-sb;
color: orange;
}
.record{
	width:200px;
	height:200px;  
}
h2.t3{
position: absolute;
 left: 180px;
  top: 3100px;
}
.x0{
	position: absolute;
	left: 180px;
  top: 3200px;
}
.x1{
	position: absolute;
	left: 360px;
  top: 3200px;
}
.x2{
	position: absolute;
	left: 540px;
  top: 3200px;
}
.x3{
	position: absolute;
	left: 720px;
  top: 3200px;
}
.x4{
	position: absolute;
	left: 540px;
  top: 3500px;
}
.x5{
	position: absolute;
	left: 720px;
  top: 3500px;
}
.x6{
	position: absolute;
	left: 900px;
  top: 3500px;
}
.x7{
	position: absolute;
	left: 1080px;
  top: 3500px;
}
.end{
	position: absolute;
	left: 100px;
	top:3800px;
}
